# View the data set in pandas

In [1]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import the dataset
df = pd.read_excel("data_set.xlsx")

In [3]:
df.head()

  Height Weight Favourite Dish
0    5.8    101  Chicken Pulao
1    6.2     92        Biryani
2    5.9     62  Karahi Ghosht
3    5.9     95  Chicken Pulao
4    5.9     55  Chicken Pulao

In [4]:
df.tail()

   Height Weight Favourite Dish
82    5.4     55          Pasta
83    5.9   75KG  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

In [5]:
df.shape

(87, 3)

In [6]:
df.columns

Index(['Height', 'Weight', 'Favourite Dish'], dtype='object')

In [9]:
df.describe()

        Height  Weight Favourite Dish
count     87.0      87             87
unique    35.0      47              5
top        5.9      55        Biryani
freq       9.0       6             40

In [10]:
df.describe().T

               count unique      top freq
Height          87.0   35.0      5.9  9.0
Weight            87     47       55    6
Favourite Dish    87      5  Biryani   40

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     object
 1   Weight          87 non-null     object
 2   Favourite Dish  87 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB

In [13]:
df.sort_index()

   Height Weight Favourite Dish
0     5.8    101  Chicken Pulao
1     6.2     92        Biryani
2     5.9     62  Karahi Ghosht
3     5.9     95  Chicken Pulao
4     5.9     55  Chicken Pulao
..    ...    ...            ...
82    5.4     55          Pasta
83    5.9   75KG  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

[87 rows x 3 columns]

In [14]:
df.sort_index( ascending = False)

   Height Weight Favourite Dish
86    5.1     96        Biryani
85    6.2     68  Chicken Pulao
84    5.4     61        Biryani
83    5.9   75KG  Karahi Ghosht
82    5.4     55          Pasta
..    ...    ...            ...
4     5.9     55  Chicken Pulao
3     5.9     95  Chicken Pulao
2     5.9     62  Karahi Ghosht
1     6.2     92        Biryani
0     5.8    101  Chicken Pulao

[87 rows x 3 columns]