# How to import dataset in python using pandas library
Written by: Umar Mehmood\
Date: 06-01-2023\
Email: umarmehmood885@gmail.com

In [1]:
# Step 1
# import the libraries
import pandas as pd

In [6]:
# Step 2
# reading/importing dataset
df = pd.read_excel('G:\PKC2024\day_06\data_set.xlsx')

In [7]:
df

   Height Weight Favourite Dish
0     5.8    101  Chicken Pulao
1     6.2     92        Biryani
2     5.9     62  Karahi Ghosht
3     5.9     95  Chicken Pulao
4     5.9     55  Chicken Pulao
..    ...    ...            ...
82    5.4     55          Pasta
83    5.9   75KG  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

[87 rows x 3 columns]

In [8]:
df.head()

  Height Weight Favourite Dish
0    5.8    101  Chicken Pulao
1    6.2     92        Biryani
2    5.9     62  Karahi Ghosht
3    5.9     95  Chicken Pulao
4    5.9     55  Chicken Pulao

In [9]:
df.tail()

   Height Weight Favourite Dish
82    5.4     55          Pasta
83    5.9   75KG  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

In [11]:
df.shape

(87, 3)